{% extends "bootstrap.html.twig" %}

{% block title %}
    Bienvenue sur la page d'accueil
{%  endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style></style>
{% endblock %}

{% block contenu %}
    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Bienvenue sur mon site</h1>

                </div>
            </div>
        </div>
{% endblock %}